.topnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    text-align: center;
    position: absolute;
    width: 2000px;
    height: 79px;
    left:20px;
    top: 25px;
    list-style: none;
}

.variant2{

    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 115px;
height: 40px;
left: 11px;
top: 7px;

/* green color */

background: #00797C;
border-radius: 70px 20px;
    /* margin-top: 39px;
  margin-right: 10px; */
}
.btn{

    height: 50px;
      width: 100px;
      background: linear-gradient(104.52deg, #05293F -11.68%, #099FA3 113.61%);
      border-radius: 11px;
      color: aliceblue;
      font-weight: 700;
      font-size: 17px;
      pointer-events: painted;
    /* display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* padding: 0px 0px 0px 1px; */
   /* width: 150px;
   height: 70px; */
   background: linear-gradient(104.52deg, #05293F -11.68%, #099FA3 113.61%);
   border-radius: 11px;
   flex: none;
   color: #FAFAFA; 
   
   }
   .btn1{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       position: absolute;
       width: 115px;
       height: 40px;
       left: 11px;
       top: 7px;  
       background: #00797C;
       border-radius: 70px 20px;
       color: #FAFAFA;
       margin-left: 3cm;
   }

/* .mune{
    width: 100%;
	padding: 16px;
} */
.nav-link {
    color: black;
    padding-right: 100px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
list-style: none;
/* line-height: 169%; */
}
.nav-link1{
    color: black;
    padding: 10px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;

}
.nav-link2{

     left: 80px;
        color: #099FA3;
        padding-right: 100px;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 169%; 
}


.welcome{

    position: absolute;
width: 568px;
height: 181px;
left: 87px;
top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 169%;  
    color: #1A1A1A;
    /* font-size: 3rem;
    font-style: italic;
    font-weight: lighter;
}   */
}

.container1{


    display: grid;
    /* justify-content: center;
    justify-items: center; */
    grid-template-columns: 50% 50%;
    grid-template-rows:auto auto auto;
    margin-left:90px;
    /* gap: 50px; */
    /* column-gap: 10rem; */
}
.img1{
    /* position: absolute; */

    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 30px; 
    /* position: absolute;
width: 718px;
height: 488px;
left: 635px;
top:150px; */

    
    /* width: 718px;
    height: 488px; */
    /* left: 635px;
    top: 268px;
    margin-top: -200px; */

     /* grid-column: 2; 
    grid-row: 1/4;   */
}
.p1{

    position: absolute;
width: 461px;
height: 68px;
left: 87px;
top: 400px;

/* p */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 169%;
/* or 34px */


color: rgba(0, 0, 0, 0.44);

    /* font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 50%;
color: rgba(0, 0, 0, 0.44); */

    /* padding-top: 5px;
    position: absolute;
    width: 461px;
    height: 68px;
    left: 87px;
    top: 568px;
    margin-top: -125px; */
    /* p */
    
    /* font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 169%; */
    /* or 34px */
    
    
    /* color: rgba(0, 0, 0, 0.44); */
    
/* font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 169%; */
/* height: 68px;
width: 461px;
left: 8px;
top: 568px;
border-radius: nullpx; */
/* color: rgba(0, 0, 0, 0.44);  */

}

.start-button{

    display:flex;
    margin-top: 25px;
    flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
color: aliceblue;
font-size: 30px;
margin-top: -100px;

position: absolute;
width: 120px;
height: 65px;
left: 100px;
top: 600px;
background: linear-gradient(104.52deg, #05293F -11.68%, #099FA3 113.61%);
border-radius: 11px;


    /* width: 300x;
height: 44px;
flex: none;
order: 0;
flex-grow: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 169%; */
/* or 41px */

/* text-align: center;

color: #FFFFFF; */
    /* width: 50px;
    margin: 30px; */



}
.attribute{
    background: #00797C ;  
}
footer{
    display: flex;
    background:#00797C;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    width: 98vw;
    height: auto;
    margin-top: 128px;
    align-items: center;
}

.one{
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.62);
    text-align: center;
    padding-left: 100px;
    }

#quick{
    font-family: 'Poppins'; 
    color: #FFFFFF;
}

.tow > img{
height: 40px;
width: 60px;
}
 .tow{
        text-align: center;  
        padding-left: 443px;  
        padding-right: 349px;
        font-family: 'Inter';
        color: #FFFFFF;
        text-shadow: 7px 6px 16px rgba(0, 0, 0, 0.3);
        }
         .three{
        text-align: center;    
        font-family: 'Inter';
        color: #FFFFFF;
        padding-right: 100px;
        }
        body {
            font-family: 'Roboto', sans-serif;
            background-color: white;
            color: rgba(55, 53, 53, 0.44);
          }

        .dark-mode {
            background-color: rgba(28, 24, 24, 0.44);
            color: white;
          }
        
          .dark-mode-button {
             /* width: 120px;
height: 55px;  */
/* left: 50%; */
            background: linear-gradient(104.52deg, #05293F -11.68%, #099FA3 113.61%);
            padding: 4px 18 px;
            font-size: 10px;
            position: absolute;
             border-radius: 11px;
            font-weight: 500;
            margin-left: 1300px;

            color: whitesmoke;
        
<<<<<<< HEAD
          }
=======
          }
>>>>>>> 2f7841af2a347875898735bd4ead5ce7df6376fc
